.boost {
    background-color: hsl(257, 27%, 26%);
    padding: 4.5rem;
    text-align: center;
    background-image: url(../../assests/images/bg-boost-desktop.svg);
    background-size: cover;


    &__header {
        color: #fff;
        font-family: 700;
        font-size: 3rem;
        margin-bottom: 2rem;
    }
}